# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.vs/
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Compiled class files
*.class
bin/

# Minecraft run directory
run/

# Generated mixin refmap
audiophilecraft-refmap.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
